<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Name: <%= @name %> (Email:<%= @email %>)</h1>
      <p>Time: <%= @created_at %></p>
      <p>Phone: <%= @phone %></p>
      <p>Email: <%= @email %></p>
      <p>Message:</p>
      <p><%= @message %></p>
  </body>
</html>
